@import "./variables/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $sans-serif;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #033b33;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}


@import "./utilidades/header";
@import "./utilidades/main";
@import "./utilidades/portafolio";
@import "./utilidades/servicio";
@import "./utilidades/contacto";
@import "./utilidades/footer";
@import "./utilidades/mediaqueries"
