header {
    width: 100%;
    height: 600px;
    background: $azul;
    background: -webkit-linear-gradient(to right, hsla(184, 71%, 51%, 0.459), hsla(187, 64%, 55%, 0.664)), url(../img/img10.jpg);
    background: linear-gradient(to right, hsla(202, 56%, 30%, 0.459), hsla(192, 65%, 44%, 0.664)), url(../img/img10.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    column-count: 5;
}

li {
    text-align: center;
    padding: 50px 50px 100px 0px;
    list-style: none;
}

li>a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li>a:hover {
    text-decoration: underline;
    color: #1A5276;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: first baseline;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    @extend %estilos-h1,
}

h1:hover {
    @include style-h1 ();
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
    stroke: none;
    fill: #1A5276
}

.svg {
    height: 100%;
    width: 100%;
}

.path {
    stroke: none;
    fill: #1A5276
}